<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
  {% include _head.html %}
</head>

<body class="home">

  {% include _browser-upgrade.html %}

  {% include _navigation.html %}

  {% if page.image.feature %}
  <div class="image-wrap">
    <div class="nav-img">
      <!-- {% if page.image.feature contains 'http' %}
        "{{ page.image.feature }}"
      {% else %}
        "{{ site.url }}/images/{{ page.image.feature }}"
      {% endif %} -->
      <a href="{{ site.url }}{{ site.posts[0].url }}">
        <img src="{{ site.url }}/images/{{ site.posts[0].image.feature }}" {{ site.posts[0].image.feature }}
          alt="{{ page.title }} feature image">
        <div class="description-place">
          <div class="post-info">
            {{ site.posts[0].title }}
          </div>
          <div class="excerpt">
            {{ site.posts[0].excerpt }}
          </div>
        </div>
      </a>
      {% if page.image.credit %}
      <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
      {% endif %}
    </div>
  </div><!-- /.image-wrap -->
  {% endif %}

  <div id="main" role="main">
    <div class="article-author-side">
      {% include _author-bio.html %}
    </div>
    <div id="index">
      <h3><a href="{{ site.url}}/posts/">Recent Posts</a></h3>
      <!--If we have a templating with a breaking space and inline-block property, we've to eliminate that spaces-->
      {% for post in site.posts limit:6 offset:1 %}<article>
        <div class="article-content">
          <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">
            <img src="../images/{{ post.image.feature }}" />
            <h2>{{ post.title }}</h2>
          </a>
          <p>{{ post.excerpt | strip_html | truncate: 180 }}</p>
        </div>
      </article>{% endfor %}
    </div><!-- /#index -->
  </div><!-- /#main -->

  <!--<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div> /.footer-wrap -->

  {% include _scripts.html %}

</body>

</html>